<div class="container">
  <div class="card-deck">
    <joke *ngFor="let j of jokes" [joke]="j" (jokeDeleted)="deleteJoke($event)">
      <span class="setup">{{ j.setup }} ?</span>
      <span class="punchline">{{ j.punchline }}</span>
    </joke>

    <div class="mt-2 ml-3">
      <button type="button"
        class="btn btn-success"
        (click)="addJoke()">Add Joke
      </button>
      <button type="button"
        class="btn btn-danger"
        (click)="deleteJoke()">Clear Jokes
      </button>
    </div>

  </div>
</div>
