<div class="card" style="width: 30rem; margin-top:1rem;">
  <div class="card-body">
    <form novalidate>

      <fieldset formGroupName="name">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" formControlName="firstName">
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" formControlName="lastName">
        </div>
      </fieldset>


      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>

      <div class="form-group">
        <label>Language</label>
        <select class="form-control" formControlName="language">
          <option value="">Please select a language</option>
          <option *ngFor="let lang of langs" [value]="lang">{{lang}}
          </option>
        </select>
      </div>

      <pre>{{myform.value | json}}</pre>
    </form>
  </div>
</div>